{
    "description": "",
    "name": "card_id",
    "value": {
        "value": "{{ card_id }}"
    },
    "type": "LOCAL",
    "uuid": "{{ card_id_uuid_variable }}"
},
{
    "description": "",
    "name": "username",
    "value": {
        "value": "{{ username }}"
    },
    "type": "LOCAL",
    "uuid": "{{ username_uuid_variable }}"
},
{
    "description": "",
    "name": "password",
    "value": {
        "value": "{{ password }}"
    },
    "type": "LOCAL",
    "uuid": "{{ password_uuid_variable }}"
}